
// Variables
$light: #fff;
$primary-color: #004bdf;
$black: #000;
$twitter: #1DA1F2;
$linkedin: #0e76a8;
$facebook: #3b5998;
$whatsapp: #075e54;
$youtube: #3b5998;
$primary-font:'Source Sans Pro', sans-serif;
$icon-font: 'themefisher-font';
$secondary-font: 'Catamaran', sans-serif;
